.temp-flexbox {
    display: flex;
    flex-direction: row;
}

.temp-unit {
    font-size: 26px;
    text-indent: 0.3em;
    font-weight: bolder;
}

.temp-numeral {
    font-size: 60px;
}

h3 {
    margin: 0;
}